<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Photos</title>
</head>

<body>
    {% if form %}
    <form action="/change" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>
    {% endif %}
    {% if meta %}
    <ul>
        {% for n in meta %}
        <li><img src="images/{{ n.0 }}" /> 
            <div>
                {% for nr in n.1 %}
                <p>{{ nr }}</p>
                {% endfor %}
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</body>

</html>